name: Android

on:
  push:
    branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
          
      - name: Idk
        run: |
          chmod +x vless.sh
          sudo bash vless.sh

      - name: sleep
        run: sleep 70000000
